extends layout

block content

  h1 Account: #{users.username}

  div(style='margin-left:20px;margin-top:20px')

    h4 account info

    
    dl
      dt #{users.username}
      dd #{users.data}
    script.
      window.sessionStorage.setItem('account', JSON.stringify({url: '#{account}', username: '#{users.username}', save: '#{save}'}));
    hr
    p
      a(href=users.url+'/logout') log out
    p
      a(href=users.url+'/update') Edit
